



.FrontPanel{
    background-color: aquamarine;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}

.BackPanel{
    background-color: cornflowerblue;
    color: white;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.FrontPanel, .BackPanel { font-size: calc(0.2vw + 0.4vh)}   